/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
} */

.ParentBody {
  background: rgb(170, 37, 37);
  border-radius: 12px;
  padding: 0.6rem 1rem;
}